<div style="padding:30px;">
    <form [formGroup]="bookForm" (submit)="onSubmit(bookForm.value)">
        <div class="row">
            <div class="form-group">
                <label for="catName">Books list</label>
            </div>
        </div>
        <div style="width:350px">
            <div class="row" style="margin: 5px 10px 0px 20px">
                <input type="text" class="form-control" formControlName="bookName" id="bookName" placeholder="Enter book name" width="450px">
            </div>
            <div class="row" style="margin: 5px 10px 0px 20px">
                <input type="text" class="form-control" formControlName="bookCode" id="bookCode" placeholder="Enter ISBN code" width="450px">
            </div>
            <div class="row" style="margin: 5px 10px 0px 20px">
                <input type="text" class="form-control" formControlName="bookAuthor" id="bookAuthor" placeholder="Enter book's author" width="450px">
            </div>
            <div class="row" style="margin: 5px 10px 0px 20px">
                <input type="text" class="form-control" formControlName="bookCategory" id="bookCategory" placeholder="Enter book's category" width="450px">
            </div>
            <div class="row" style="margin: 5px 10px 0px 20px">
                <input type="text" class="form-control" formControlName="bookPublicationDate" id="bookPublicationDate" placeholder="Enter publication date" width="450px">
            </div>
            <div class="row" style="margin: 5px 10px 0px 20px">
                <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Add</button>
            </div>
        </div>
    </form>
</div>

<table class="table" *ngIf="flag">
    <thead>
        <tr align="center">
            <th scope="col">#</th>
            <th scope="col">Book name</th>
            <th scope="col">ISBN code</th>
            <th scope="col">Book author</th>
            <th scope="col">Book category</th>
            <th scope="col">Book date publication</th>
            <th scope="col">Edit book</th>
            <th scope="col">Delete book</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books; let item = index;" align="center">
            <th scope="row">{{item+1}}</th>
            <td>{{book.bookName}}</td>
            <td>{{book.bookCode}}</td>
            <td>{{book.bookAuthor}}</td>
            <td>{{book.bookCategory}}</td>
            <td>{{book.bookPublicationDate}}</td>
            <td>
                <button class="btn btn-light" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal" data-whatever="@mdo" (click)="openModal(book.id, book.bookName, book.bookCode, book.bookAuthor,book.bookCategory,book.bookPublicationDate)"><i class=" fa fa-pencil-square-o "></i></button>
            </td>
            <td>
                <button class="btn btn-danger " (click)="onDelete(book.id) "><i class=" fa fa-trash-o "></i></button>
            </td>
        </tr>
    </tbody>
</table>

<form [formGroup]="bookForm" (submit)="onEdit(bookForm.value)">
    <div class="modal" id="editModal" tabindex="-1 " role="dialog">
        <div class="modal-dialog " role="document ">
            <div class="modal-content ">
                <div class="modal-header ">
                    <h5 class="modal-title ">Edit book</h5>
                    <button type="button " class="close " data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true ">&times;</span>
                          </button>
                </div>
                <div class="modal-body">
                    <div style="padding:10px;">
                        <div class="row ">
                            <label>Book name: </label>
                            <input type="hidden" class="form-control" formControlName="bookId" id="bookId" />
                            <input type="text" class="form-control" formControlName="bookName" id="bookName" />
                        </div>
                        <div class="row">
                            <label>ISBN code: </label>
                            <input type="text" class="form-control" formControlName="bookCode" id="bookCode" />
                        </div>
                        <div class="row">
                            <label>Author: </label>
                            <input type="text" class="form-control" formControlName="bookAuthor" id="bookAuthor" />
                        </div>
                        <div class="row">
                            <label>Category: </label>
                            <input type="text" class="form-control" formControlName="bookCategory" id="bookCategory" />
                        </div>
                        <div class="row">
                            <label>Publication date: </label>
                            <input type="text" class="form-control" formControlName="bookPublicationDate" id="bookPublicationDate" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
                    <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal"> Close</button>
                </div>
            </div>
        </div>
    </div>
</form>