<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['home']">SysLibrary <sub>for Bluesoft</sub></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="[ 'book' ]" routerLinkActive="router-link-active">Books<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ 'author' ]" routerLinkActive="router-link-active">Authors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ 'categories' ]" routerLinkActive="router-link-active">Categories</a>
            </li>
        </ul>
    </div>
</nav>