<div style="padding:30px;">
    <form [formGroup]="authorForm" (submit)="onSubmit(authorForm.value)">
        <div class="row">
            <div class="form-group">
                <label for="catName">Authors</label>
            </div>
        </div>
        <div style="width:350px">
            <div class="row" style="margin: 5px 10px 0px 20px">
                <input type="text" class="form-control" formControlName="autName" id="autName" placeholder="Enter author name" width="450px">
            </div>
            <div class="row" style="margin: 5px 10px 0px 20px">
                <input type="text" class="form-control" formControlName="autLastName" id="autLastName" placeholder="Enter author lastname" width="450px">
            </div>
            <div class="row" style="margin: 5px 10px 0px 20px">
                <input type="text" class="form-control" formControlName="autCountry" id="autCountry" placeholder="Enter author country" width="450px">
            </div>
            <div class="row" style="margin: 5px 10px 0px 20px">
                <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Add</button>
            </div>
        </div>
    </form>
</div>


<table class="table" *ngIf="flag">
    <thead>
        <tr align="center">
            <th scope="col">#</th>
            <th scope="col">Author name</th>
            <th scope="col">Author lastname</th>
            <th scope="col">Author country</th>
            <th scope="col">Edit category</th>
            <th scope="col">Delete category</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let author of authors; let item = index;" align="center">
            <th scope="row">{{item+1}}</th>
            <td>{{author.autName}}</td>
            <td>{{author.autLastName}}</td>
            <td>{{author.autCountry}}</td>
            <td>
                <button class="btn btn-light" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal" data-whatever="@mdo" (click)="openModal(author.id, author.autName, author.autLastName, author.autCountry)"><i class=" fa fa-pencil-square-o "></i></button>
            </td>
            <td>
                <button class="btn btn-danger " (click)="onDelete(author.id) "><i class=" fa fa-trash-o "></i></button>
            </td>
        </tr>
    </tbody>
</table>


<form [formGroup]="authorForm" (submit)="onEdit(authorForm.value)">
    <div class="modal" id="editModal" tabindex="-1 " role="dialog">
        <div class="modal-dialog " role="document ">
            <div class="modal-content ">
                <div class="modal-header ">
                    <h5 class="modal-title ">Edit author</h5>
                    <button type="button " class="close " data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true ">&times;</span>
                          </button>
                </div>
                <div class="modal-body">
                    <div style="padding:10px;">
                        <div class="row ">
                            <label>Author name: </label>
                            <input type="hidden" class="form-control" formControlName="autId" id="autId" />
                            <input type="text" class="form-control" formControlName="autName" id="autName" />
                        </div>
                        <div class="row">
                            <label>Author Lastname: </label>
                            <input type="text" class="form-control" formControlName="autLastName" id="autLastName" />
                        </div>
                        <div class="row">
                            <label>Author country: </label>
                            <input type="text" class="form-control" formControlName="autCountry" id="autCountry" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
                    <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal"> Close</button>
                </div>
            </div>
        </div>
    </div>
</form>