<div style="padding:30px;">
    <form [formGroup]="categoryForm" (submit)="onSubmit(categoryForm.value)">
        <div class="row">
            <div class="form-group">
                <label for="catName">Categories</label>

            </div>
        </div>
        <div class="row">
            <div class="column" style="margin-right: 10px">
                <input type="text" class="form-control" id="catSearch" placeholder="Search category name" width="450px">
            </div>
            <div class="column">
                <button class="btn btn-info"><i class="fa fa-search"></i> Search</button>
            </div>
            <div class="column" style="margin: 0px 10px 0px 20px">
                <input type="text" class="form-control" formControlName="catName" id="catName" placeholder="Enter category name" width="450px">
            </div>
            <div class="column">
                <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Add</button>
            </div>
        </div>
    </form>
</div>


<table class="table" *ngIf="flag">
    <thead>
        <tr align="center">
            <th scope="col">#</th>
            <th scope="col">Category name</th>
            <th scope="col">Edit category</th>
            <th scope="col">Delete category</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories; let item = index;" align="center">
            <th scope="row">{{item+1}}</th>
            <td>{{category.catName}}</td>
            <td>
                <button class="btn btn-light" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal" data-whatever="@mdo" (click)="openModal(category.id, category.catName)"><i class=" fa fa-pencil-square-o "></i></button>
            </td>
            <td>
                <button class="btn btn-danger " (click)="onDelete(category.id) "><i class=" fa fa-trash-o "></i></button>
            </td>
        </tr>
    </tbody>
</table>


<form [formGroup]="categoryForm" (submit)="onEdit(categoryForm.value)">
    <div class="modal" id="editModal" tabindex="-1 " role="dialog">
        <div class="modal-dialog " role="document ">
            <div class="modal-content ">
                <div class="modal-header ">
                    <h5 class="modal-title ">Edit category</h5>
                    <button type="button " class="close " data-dismiss="modal " aria-label="Close">
                            <span aria-hidden="true ">&times;</span>
                          </button>
                </div>
                <div class="modal-body ">
                    <div class="column ">
                        <label>Category name: </label>
                    </div>
                    <div class="column ">
                        <input type="hidden" class="form-control" formControlName="catId" id="catId" />
                        <input type="text" class="form-control" formControlName="catName" id="catName" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
                    <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal"> Close</button>
                </div>
            </div>
        </div>
    </div>
</form>